:root{

    --purple-50: hsl(260, 100%, 95%);
    --purple-300: hsl(264, 82%, 80%);
    --purple-500: hsl(263, 55%, 52%);
    --white: hsl(0, 0%, 100%);
    --grey-100: hsl(214, 17%, 92%);
    --grey-200: hsl(0, 0%, 81%);
    --grey-400: hsl(224, 10%, 45%);
    --grey-500: hsl(217, 19%, 35%);
    --dark-blue: hsl(219, 29%, 14%);
    --black: hsl(0, 0%, 7%);

    --font-heavy: 600;
    --font-light: 500;

    --font-family: "Barlow Semi Condensed", "Arial", sans-serif;
    --font-size-tagline:20px;
}

body{
    background:var(--grey-200);
    display:flex;
    align-items:center;
    justify-content: center;
    margin-top:5%;
}

.wrapper{
    display:grid;
    grid-template-rows: repeat(auto-fill, minmax(100px, 1fr));
    grid-template-columns: 1fr;
    font-family:var(--font-family);
    gap:30px;
    width:80dvw;
    justify-content: center;
}

.profile{
    display:flex;
    flex-direction:row;
    gap:10px;
}

.profile-image{
    border-radius:50%;
    display:flex;
    justify-content:center;
    align-items:center;
}

img{ 
    border-radius:50%; 
    width:95%;
    height:95%;
}

.user{
    display:flex;
    flex-direction:column;
    gap:5px;
}

.user-name{
    justify-self:end;
    font-weight:var(--font-heavy);
}

.qualification{
    justify-self:end;
    font-weight:var(--font-light);
}

.mid-purple{ background:var(--purple-300); }

.light-purple{ background:var(--purple-50); }

.tagline{
    font-weight:var(--font-heavy);
    font-size:var(--font-size-tagline);
}

.testimonial{ font-weight:var(--font-light); }

.test{
    padding: 50px 50px 50px 50px;
    display:flex;
    flex-direction:column;
    gap:20px;
    border-radius:10px;
}

.purple{
    background:var(--purple-500);
    color:var(--white);
}

.grey{
    background:var(--grey-500);
    color:var(--white);
}

.white{
    background:var(--white);
    color:var(--grey-500);
}

.blue{
    background:var(--dark-blue);
    color:var(--grey-100);
}

@media (min-width:781px){

    .wrapper{
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        width:90dvw;
        min-height:50dvh;
        font-size:10px;
    }

    .test{ padding: 30px 30px 30px 30px; }

    #daniel-clifford{
        grid-column:1 / 3;
        grid-row:1 / 2;
    }

    #jonathan-walters{
        grid-column:3 / 4;
        grid-row:1 / 2;
    }

    #kira-whittle{
        grid-column:4 / 5;
        grid-row:1 / 3;
    }

    #jeanette-harmon{
        grid-column:1 / 2;
        grid-row:2 / 3;
    }

    #patrick-abrams{
        grid-column:2 / 4;
        grid-row:2 / 3;
    }

    .user-name{ font-size:15px; }

    .tagline{ font-size:15px; }

    .qualification{ font-size:15px; }

    .testimonial{ font-size:13px; }
    
}