:root{

    --purple-50: hsl(260, 100%, 95%);
    --purple-300: hsl(264, 82%, 80%);
    --purple-500: hsl(263, 55%, 52%);
    --white: hsl(0, 0%, 100%);
    --grey-100: hsl(214, 17%, 92%);
    --grey-200: hsl(0, 0%, 81%);
    --grey-400: hsl(224, 10%, 45%);
    --grey-500: hsl(217, 19%, 35%);
    --dark-blue: hsl(219, 29%, 14%);
    --black: hsl(0, 0%, 7%);

    --font-heavy: 600;
    --font-light: 500;

    --font-family: "Barlow Semi Condensed", "Arial", sans-serif;
    --font-size-tagline:20px;
}

body{
    background:var(--grey-100);
    display:flex;
    align-items:center;
    justify-content: center;
    margin-top:5%;
    font-size:20px;
}

.wrapper{
    display:grid;
    grid-template-rows: repeat(auto-fill, minmax(5rem, 1fr));
    grid-template-columns: 1fr;
    font-family:var(--font-family);
    gap:1.5rem;
    width:80dvw;
    justify-content: center;
}

.profile{
    display:flex;
    flex-direction:row;
    gap:0.3334rem;
}

.profile-image{
    border-radius:50%;
    display:flex;
    justify-content:center;
    align-items:center;
}

img{ 
    border-radius:50%; 
    width:95%;
    height:95%;
}

.user{
    display:flex;
    flex-direction:column;
    gap:0.25rem;
}

.user-name{
    justify-self:end;
    font-weight:var(--font-heavy);
}

.qualification{
    justify-self:end;
    font-weight:var(--font-light);
}

.mid-purple{ background:var(--purple-300); }

.light-purple{ background:var(--purple-50); }

.tagline{
    font-weight:var(--font-heavy);
    font-size:1rem;
}

.testimonial{ font-weight:var(--font-light); }

.test{
    padding:2rem 2rem 2rem 2rem;
    display:flex;
    flex-direction:column;
    gap:1rem;
    border-radius:0.5rem;
}

.purple{
    background:var(--purple-500);
    color:var(--white);
}

.grey{
    background:var(--grey-500);
    color:var(--white);
}

.white{
    background:var(--white);
    color:var(--grey-500);
}

.blue{
    background:var(--dark-blue);
    color:var(--grey-100);
}

.shadow{
    box-shadow: 2rem 4rem 2rem -0.3rem var(--grey-200);
    border-top-color: var(--cyan);
    border-radius:1rem;
}

p{ font-size:1rem; }

h2{ font-size:2rem; }

@media (min-width:48.8125rem){

    .wrapper{
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        width:90dvw;
        min-height:50dvh;
        font-size:16px;
    }

    .test{ padding: 1.875em 1.875em 1.875em 1.875em; }

    .daniel-clifford{
        grid-column:1 / 3;
        grid-row:1 / 2;
        background-image:url('images/bg-pattern-quotation.svg');
        background-repeat: no-repeat;
        background-position: 90% top;
    }

    .jonathan-walters{
        grid-column:3 / 4;
        grid-row:1 / 2;
    }

    .kira-whittle{
        grid-column:4 / 5;
        grid-row:1 / 3;
    }

    .jeanette-harmon{
        grid-column:1 / 2;
        grid-row:2 / 3;
    }

    .patrick-abrams{
        grid-column:2 / 4;
        grid-row:2 / 3;
    }

    .user-name{ font-size:0.9375rem; }

    h2{ font-size:1rem; }

    .qualification{ font-size:0.9375rem; }

    p{ font-size:0.8125rem; }
    
}